/*
 Programmer: Nami Huyen Tram
 Date: 10/1/2019
 Comments: Class Project - Deliverable 5 - CSS file for HTML and JavaScript 
 */


/* style of body content of the page */
body 
{
  background: Black;
}

/* style of the most important heading of the page */
h1 
{
  text-align: center;
  color: Tomato;
}

/* paragraph's style */
p
{
  text-align: center;
  color: Tomato;
}

/* form's style */
form 
{
  text-align: center;
  color: Tomato;
  font-weight: bold;
}

/* button's style */
button 
{
  background-color: Tomato;
  font-weight: bold;
}
